<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="home.css">
    <style>
        body{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>
<body>
    <h1 class="heading">URL Shortner Project.</h1>
    <div class="genereted">
        <% if (locals.id) { %>
         <p>URL Generated :- http://localhost:4000/url/<%= id %></p>
         <h1>Go Back To Home Page...</h1>
        <% } %>
    </div>

    <div class="url-generat">
        <form method="post" action="/url">
            <label>Enter your URL :- </label>
            <input type="text" name="url" placeholder="https://Example.com">
            <button type="submit">Generat</button>
        </form>
    </div>
    <div class="url-data">
        <% if (locals.urls) { %>
            <table class="table">
                <thead>
                    <th>S. No.</th>
                    <th>ShortID</th>
                    <th>Redirect</th>
                    <th>Clicks</th>
                </thead>
                <tbody>
                        <% urls.forEach((url, index) => { %>
                        <tr>
                         <td><%= index + 1 %></td>
                         <td><%= url.shortId %></td>
                         <td><%= url.redirectURL %></td>
                         <td><%= url.visitHistory.length %></td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>